.root-shell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
}

.page-container {
  flex-grow: 1;
}

.footer {
  height: 40px;
  min-height: 40px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 40px;
}