node_modules
.env
.gitignore
Dockerfile*
docker-compose*
README.md
.dockerignore
.DS_Store
.git
.gitignore
.tmp
.idea
.vscode
.log
dist
npm-debug.log
coverage
.next
README.md
LICENSE
.vscode
flow-typed
