@import "./references/_references";

@import "./components/icons";

@import "./components/buttons";

@import "./common/utilities";

@import "./common/lists";

@import "./common/links";

@import "./common/text";

@import "./common/animations";

@import "./layout/grid";

@import "./layout/page";

@import "./libraries/normalize";

@import "./overrides/overrides";

$fa-font-path: "../../../../node_modules/font-awesome/fonts" !default;
$unsupported-link-text: $c-mine-shaft;
$unsupported-link-text-hover: $c-midnight-blue;

@import "~font-awesome/scss/font-awesome"; // necessary to fix lack of icons in ssr build
// for details see also https://github.com/angular/angular-cli/issues/1463#issuecomment-292124655

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 15px;
}

// stylelint-disable-next-line selector-max-id
html,
body,
#content {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $c-body-color;
  min-width: $min-mobile-width;
}
