@import "../references/references";

.fa {
  $c-color: $c-midnight-blue;
  $c-hover-color: $c-lynch;
  $c-active-color: $c-bunting;
  $c-disabled-color: $c-athens-gray;
  padding: 5px 5px 5px 0;
  cursor: pointer;
  color: $c-color;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover {
    color: $c-hover-color;
  }

  &:active {
    color: $c-active-color;
  }

  &:disabled {
    border-color: $c-disabled-color;
  }
}
