@import '../../styles/references/references';

$c-error-summary-color: $c-bittersweet;
$c-error-item-bg: $c-rose-white;

.error-summary {
    color: $c-error-summary-color;
    animation: error-summary-zoom 0.3s;
    margin: 10px 0 20px;

    &:empty {
        display: none;
    }

    .error-item {
        font-size: 12px;
        border: 1px solid $c-error-summary-color;
        background-color: $c-error-item-bg;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 10px;

        &:before {
            content: '!';
            font-size: 16px;
            text-align: center;
            line-height: 25px;
            width: 25px;
            height: 25px;
            margin: 10px;
            border: 2px solid $c-error-summary-color;
            border-radius: 50%;
        }
    }
}

@keyframes error-summary-zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
