@import "../../../../../styles/references/references";

.field-password-with-show-btn {
  position: relative;

  .field__control {
    padding-right: 30px;
  }

  .field-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

[name="fakepasswordremembered"] {
  display: none;
}
