@import "./../../styles/references/references";

.nav-sub-header {
  $c-link: $c-midnight-blue;
  $sub-header-height: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  height: $sub-header-height;

  .nav-item {
    display: inline-block;
  }

  .nav-link {
    color: $c-link;
  }

  .nav-link {
    color: $c-link;
    display: inline-flex;
    line-height: $sub-header-height;
    height: $sub-header-height;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 0 solid $c-link;
    transition: border-bottom-width .15s ease;
    will-change: border-bottom-width;

    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover,
    &.active {
      border-bottom-width: 2px;
    }
  }
}