@import "../references/references";

$c-link: $c-midnight-blue;
$c-unstyled-link: $c-desert-storm;
$c-link-hover: $c-lynch;

a {
  color: $c-link;
}

.link {
  color: $c-link;
  text-decoration: none;
  transition: all .3s ease-out;
  cursor: pointer;

  &:hover {
    color: $c-link-hover;
  }
}

.unstyled-link {
  text-decoration: none;
}
