@import "../references/references";

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
	&-mobile {
		@media (max-width: $tablet-width - 1) {
			display: none !important;
		}
	}

	&-non-mobile {
		@media (min-width: $tablet-width) {
			display: none !important;
		}
	}
}

.hidden {
	visibility: hidden !important;
}

.w100 {
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.text-center {
  text-align: center;
}

* html .clearfix {
	zoom: 1;
}

*:first-child + html .clearfix {
	zoom: 1;
}
